<div class="season_listing_container">
	<% @episodes.each do |episode| %>
		<div class="season_listing_episode">
			<img src="<%= episode[:poster] %>" alt="">
			<div class="episode_details">
				<div class="episode_header">
					<h2>Episode # <%= episode[:episode]%></h2> 
					<p>Released <%= episode[:released]%></p>
				</div>
				<h2 class="episode_title"><%= episode[:title] %></h2>
				<p class="episode_plot"><%= episode[:plot] %></p>
				<span>IMDB Rating <%= episode[:imdb_rating]%></span>
			</div>
		</div>
	<% end %>
</div>